form {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    content-align:left;
    text-align:left;
}
tr.spacer {
    height: 20px; /* Adjust the height to set the desired space between rows */
}
h1 {
    color: #333333;
}

p {
    color: #555;
}

table{
    margin: auto;
    align: center;
    border: 2;
}

#left{
    width: 45%; /* Adjust the width as needed */
    display: inline-block;
    text-align: left; /* Align text to the left */
    vertical-align: top;
    margin: 0 5%

}


#right{
    width: 45%; /* Adjust the width as needed */
    display: inline-block;
    text-align: right; /* Align text to the left */
    vertical-align: top;
    margin: 0 5%
}


#center{
    width: 45%; /* Adjust the width as needed */
    display: inline-block;
    text-align: center  ; /* Align text to the left */
    vertical-align: top;
    margin: 0 5%
    border: 3;
}

